ng-form(name="form")
  .row
    .col-md-6
      esn-form-group(label=__('Name'))
        input.form-control(type="text", ng-model="$ctrl.group.name", name="groupName", required)
    .col-md-6
      esn-form-group(label=__('Email'))
        input.form-control(type="email", ng-model="$ctrl.group.email", name="groupEmail", required)
  .row(ng-if="!$ctrl.updateMode")
    .col-xs-6
      h5 #{__('Members')}
  .row(ng-if="!$ctrl.updateMode")
    group-member-auto-complete(new-members="$ctrl.newMembers")
